# Database variables
DATABASE_URL="postgresql://root:rootpassword@localhost:5434/mpp_voting_dev?schema=public"

# NestJS API environment
PORT=3001
FRONTEND_URL="http://localhost:3000"
TZ="Asia/Kuala_Lumpur"

# Next.js Web App environment
NEXT_PUBLIC_API_URL="http://localhost:3001"
