PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET="change-me-to-a-random-64-character-string"
DATABASE_URL="postgresql://root:rootpassword@localhost:5434/mpp_voting_dev?schema=public"
DIRECT_URL="postgresql://root:rootpassword@localhost:5434/mpp_voting_dev?schema=public"
TZ=Asia/Kuala_Lumpur

# SMTP Configuration for Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Optional: Resend API key (alternative to SMTP)
RESEND_API_KEY=
